<h1>Posts:</h1>

<ul>
    <% @posts.each do |post|%>
    <li>
        <h3> Author </h3>
        <%if user_signed_in? %>
        <div><%= post.user_id %></div>
        <% end %>
        <h3> Title </h3>
        <div> <%= post.title %> </div>
        <h3> Body </h3>
        <div> <%= post.body %> </div>
    </li>
    <% end %>
</ul>

<ul>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
    <li><%= link_to "log in", new_user_session_path %></li>
    <li><%= link_to "Edit profile", edit_user_registration_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: "delete"}%></li>
</ul>