<h1>Posts:</h1>

<ul>
    <% @posts.each do |post|%>
    <li>
        <% if user_signed_in? %>
            <h3> Author </h3>
            <div><%= post.user.username%></div>
        <% end %>
        <h3> Title </h3>
        <div> <%= post.title %> </div>
        <h3> Body </h3>
        <div> <%= post.body %> </div><br>
        <h3> Comments </h3>
        <div> <%= post.comments %> </div><br>
        <% if user_signed_in? %>
            <div><%= render "comments/form", comment = @comment  %></div>
        <% end %>
        <%if user_signed_in? && post.user_id == current_user.id %>
            <div><%=link_to "Edit post", edit_post_path(post.id)%></div>
            <div><%= link_to "Delete post", post_path(post), data: {turbo_method: "delete",
                                                               turbo_confirm: "Are you sure?"} %></div>
        <% end %>
    </li>
    <% end %>
</ul>

<%= link_to "Back to home page", root_path%>