<h2> Title </h2>
<div><%= @post.title%></div>
<h2> Text </h2>
<div><%= @post.body %></div>
<h3> Add a comment </h3>
<%= form_with model: [@post,@post.comments.build] do |f| %>
<div>
    <%= f.text_area :body, size: "50x5" %>
    <% end %>
</div>
<%= f.submit %>
<% end %>
